h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue
}
.btn1{
    text-align:center;
}
.btn{
    background-color: lightsteelblue;
    border:none;
    border-radius:7px;
    min-height: 30px;
    min-width: 20px;
}
.btn:hover{
    background-color:black;
    transition: 0.7s;
}